# Python
__pycache__/
*.py[cod]
*.pyo
*.pyd
.venv/
venv/
env/

# Environment variables
.env

# VS Code
.vscode/

# macOS
.DS_Store

# Logs
*.log

# Build
dist/
build/

# Cache
.pytest_cache/
.mypy_cache/

# Jupyter
.ipynb_checkpoints/